<!DOCTYPE html>
<html lang="en">
  <head>
    <title>r/place communities</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/style.css"
      media="all"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.17.0/vuedraggable.min.js"></script>
    <script src="assets/js/lib/three.js"></script>
    <script src="assets/js/lib/WebGL.js"></script>
    <script src="assets/js/lib/OrbitControls.js"></script>
    <script src="assets/js/lib/SubdivisionModifier.js"></script>
    <script src="assets/js/lib/d3.min.js"></script>
    <script src="assets/js/lib/Fullscreen.js"></script>
    <script src="assets/js/lib/dat.gui.min.js"></script>

    <script src="assets/js/src/utils.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
  </head>

  <body>
    <div id="app">
      <div
        class="sidebar"
        v-if="loaded"
        v-bind:class="{ sidebarReduce: sidebarHidden }"
      >
        <button
          class="showhide btn btn-default btn-circle"
          v-on:click="toggleSidebar()"
          :class="{'no-pointerevent': disableMenu}"
        >
          <i
            class="fa"
            v-bind:class="{ 'fa-angle-left': sidebarHidden, 'fa-angle-right': !sidebarHidden }"
          ></i>
        </button>

        <div
          class="video-tuto"
          :class="{'tutorial-show': tutorialState == 4, 'tutorial-hide': tutorialState != 4}"
        >
          <video width="279" height="271" autoplay preload="auto" loop muted>
            <source src="assets/img/tutorial/comm_tuto.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <label>Tutorial Cam</label>
        </div>

        <transition name="fade">
          <div class="sidebar-hider" v-if="!sidebarHidden">
            <button
              id="settings-button"
              class="btn btn-default btn-circle"
              @click="isSettingsShown = !isSettingsShown"
            >
              <i
                class="fas fa-cog"
                :style="{'color' : (isSettingsShown ? '#bbb' : '')}"
              ></i>
            </button>

            <div class="blur"></div>
            <div class="sidebar-content">
              <!-- COMMUNITIES -->
              <input
                class="search-sidebar"
                v-model="communities.search"
                placeholder="Search community..."
                @keyup="filterCommunities"
              />

              <div id="communities-header">
                <i
                  id="sort-communities"
                  class="fas fa-sort-amount-down"
                  :style="{'color' : (isSortByEditsCounts ? '' : '#777')}"
                  @click="isSortByEditsCounts = !isSortByEditsCounts"
                ></i>
                <p>Current max: {{ currentEditsCountMax }}</p>
                <p>All time max: {{ editsCountMax }}</p>
              </div>

              <draggable
                id="filtered-communities"
                v-if="communities.communities.length>0 && communities.isVisible"
                class="dragArea"
                :list="communities.communities"
                :options="{draggable:'.item', put:'true', sort:'false', group:'community', handle:'.handle'}"
                @start="dragStart"
                @end="dragEnd"
              >
                <community-component
                  v-for="community in communities.communities"
                  :key="community.id"
                  v-bind:community.sync="community"
                  :edits-count-max="editsCountMax"
                  :current-frame="currentFrame"
                  class="item"
                  :class="{'hidden':!community.isVisible}"
                ></community-component>
              </draggable>

              <span>Displayed communities</span>
              <p v-if="displayedCommunities_.length == 0" class="grayed">
                Drop a community on the map to show its edits
              </p>
              <draggable
                id="selected-communities"
                class="dragArea"
                :list="displayedCommunities_"
                :options="{draggable:'.item', group:'community', handle:'.handle'}"
                @remove="unshowCommunity"
                @add="showCommunity"
              >
                <community-component
                  v-for="community in displayedCommunities_"
                  :key="community.id"
                  v-bind:community.sync="community"
                  class="item"
                  @hide="hideCommunity"
                ></community-component>
              </draggable>

              <!-- COMMUNITIES END -->
              <div id="settings" v-if="isSettingsShown">
                <div class="param justify-content-between">
                  <label>Smoothing</label>
                  <input
                    type="range"
                    name="smoothing"
                    min="0.5"
                    max="2"
                    step="0.01"
                    v-model.lazy.number="smoothing"
                    class="control slider"
                    v-on:mouseover="pauseMap(true)"
                    v-on:mouseleave="pauseMap(false)"
                  />
                </div>
                <div class="param justify-content-between">
                  <div
                    data-toggle="tooltip"
                    title="Exponential moving average : in the selected time window, give more weight to more recent edits"
                  >
                    <input type="checkbox" id="checkbox" v-model="ema" />
                    <label for="checkbox">EMA</label>
                  </div>

                  <div
                    data-toggle="tooltip"
                    title="Select another drawing model"
                  >
                    <input
                      type="checkbox"
                      id="checkboxSpikes"
                      v-model="drawSpikes"
                    />
                    <label for="checkboxSpikes">Spiky</label>
                  </div>

                  <div
                    data-toggle="tooltip"
                    title="Disable interactions with the map, and rotate around its center"
                  >
                    <input
                      type="checkbox"
                      id="checkboxAutorotate"
                      v-model="autoRotate"
                    />
                    <label for="checkboxAutorotate">Auto-rotate</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
      <draggable
        v-if="isDragging"
        :list="displayedCommunities_"
        :options="{group:'community'}"
        class="dropzone"
        @add="showCommunity"
      >
        Drop community here to show it
      </draggable>
      <timeline-component
        v-if="loaded"
        :communities="displayedCommunities"
        :full-width="sidebarHidden"
        v-bind:time.sync="time"
        v-bind:speed.sync="speed"
        v-bind:isplaying.sync="isplaying"
        v-on:time-seek="timeSeek"
        v-on:window-updated="windowUpdated"
        :class="{'no-pointerevent': disableTimeLine}"
      ></timeline-component>

      <div class="top-left-pannel" v-if="loaded">
        <div>
          <div>
            <label data-toggle="tooltip" title="/r/place event time">{{
              time.toLocaleString()
            }}</label>
          </div>

          <button
            class="fullscreen-position  btn btn-light"
            onclick="toggleFullScreen()"
            data-toggle="tooltip"
            title="Fullscreen"
          >
            <i class="fas fa-expand"></i>
          </button>

          <button
            class="reset-map-position  btn btn-light"
            v-on:click="centerMap()"
            data-toggle="tooltip"
            title="Reset the map position"
            :class="{'no-pointerevent': disableMapInteractions}"
          >
            <label>Reset view</label>
          </button>
        </div>

        <div>
          <button
            class="end-tuto btn btn-sm btn-outline-danger"
            v-on:click="endTuto()"
            data-toggle="tooltip"
            title="Stop now the tutorial"
            v-if="tutorialState != 7"
          >
            <label>End tutorial</label>
          </button>

          <button
            class="begin-tuto btn btn-sm btn-outline-success"
            v-on:click="beginTuto()"
            data-toggle="tooltip"
            title="Show the tutorial"
            v-if="tutorialState == 7"
          >
            <label>Show tutorial</label>
          </button>
        </div>

        <div v-if="tutorialState != 7">
          <button
            class="prev-step-tuto btn btn-sm btn-light"
            v-on:click="prevTutoStep()"
            data-toggle="tooltip"
            title="Go to the previous tutorial step"
            :class="{'no-pointerevent': tutorialState <= 1}"
          >
            <label>Previous</label>
          </button>

          <button
            class="next-step-tuto btn btn-sm btn-light"
            v-on:click="nextTutoStep()"
            data-toggle="tooltip"
            title="Go to the next tutorial step"
          >
            <label>Next</label>
          </button>
        </div>
      </div>

      <div v-if="!loaded">
        <img
          width="100%"
          height="100%"
          id="bg"
          src="assets/img/loadingscreen/back_small.png"
        />
        <div class="tuto">
          <div class="tuto-pan" data-toggle="tooltip" title="How to move">
            <i class="fas fa-info-circle"></i> <label>Move</label>
            <img
              class="ctrl-key"
              src="assets/img/loadingscreen/ctrl.png"
              height="60%"
            />
            <img
              class="mouse-cursor"
              src="assets/img/loadingscreen/cursor.png"
              height="60%"
            />
          </div>

          <div class="tuto-rotate" data-toggle="tooltip" title="How to rotate">
            <i class="fas fa-info-circle"></i> <label>Rotate</label>
            <img
              class="mouse-cursor"
              src="assets/img/loadingscreen/cursor.png"
              height="60%"
            />
          </div>

          <div class="tuto-zoom" data-toggle="tooltip" title="How to zoom">
            <i class="fas fa-info-circle"></i> <label>Zoom</label>
            <div class="tuto-touchpad">
              <div class="tuto-separation"></div>
              <i class="fas fa-chevron-down chevron-ur"></i>
              <i class="fas fa-chevron-down chevron-bl"></i>
            </div>
          </div>
        </div>

        <div class="lds-circle">
          <div class="lds-circle-inner">
            <img
              class="reddit_logo"
              src="assets/img/loadingscreen/rplace_logo.png"
              height="42"
              width="42"
            />
          </div>
          <div><span>Loading files...</span></div>
        </div>
      </div>

      <div class="tutorial-text">
        <div
          :class="{'tutorial-show': tutorialState == 1, 'tutorial-hide': tutorialState != 1}"
        >
          <label class="tutorial-text-label"
            >Welcome to our /r/place visualization !<br />
            The /r/place event is a Reddit event that took place on April
            2017.<br />
            Let's join the million of users and online communities, all of them
            competing, cooperating and fighting !
          </label>
        </div>
        <div
          :class="{'tutorial-show': tutorialState == 2, 'tutorial-hide': tutorialState != 2}"
        >
          <label
            >To begin our journey, we must first learn to manipulate the 3D
            map.<br />
            You can use your mouse, and the CTRL button to do so,<br />or your
            fingers if your device allows you to do so.
          </label>
        </div>
        <div
          :class="{'tutorial-show': tutorialState == 3, 'tutorial-hide': tutorialState != 3}"
        >
          <label
            >Now that you know how to control the map, here is the timeline.<br />By
            default, it is in play mode, but you can stop it and change its
            speed.<br />
            Also, you can move the white brush (the time cursor), and resize it
            to show edits made in a bigger time period.
          </label>
        </div>
        <div
          :class="{'tutorial-show': tutorialState == 4, 'tutorial-hide': tutorialState != 4}"
        >
          <label
            >Until now, it was only possible to see edits from everyone.<br />But
            we want to look at the Swiss community..<br />What am I gonna do ?
          </label>
        </div>
        <div
          :class="{'tutorial-show': tutorialState == 5, 'tutorial-hide': tutorialState != 5}"
        >
          <label
            >Now that we perfectly know how to interact with the visualization,
            a little case study : the french-german battle.<br />
            German people tried to drive out french people by invading their
            flag.<br />
            After some time, the french flag is separated into two parts. Later,
            the two communities make peace, as we can see with the new EU flag
            drawn between the two flags, and the peace dove within it.
          </label>
        </div>
        <div
          :class="{'tutorial-show': tutorialState == 6, 'tutorial-hide': tutorialState != 6}"
        >
          <label
            >That's it for the tutorial. You are now free to explore !<br />
            You might want to have a look at the US flag, Mona Lisa, OSU, the
            Blue Empire and Darth Plague is The Wise !
          </label>
        </div>
      </div>
    </div>

    <script src="assets/js/src/gaussian_blur.js"></script>
    <script src="assets/js/src/timeline.js"></script>
    <script src="assets/js/src/communities.js"></script>
    <script src="assets/js/src/time.js"></script>
    <script src="assets/js/src/map.js"></script>
    <script src="assets/js/src/loadingscreen.js"></script>
    <script src="assets/js/src/app.js"></script>
  </body>
</html>
