<!DOCTYPE html>
<html lang="en">
  <head>
    <title>r/place communities</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/style2.css"
      media="all"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="assets/js/lib/three.js"></script>
    <script src="assets/js/lib/WebGL.js"></script>
    <script src="assets/js/lib/MapControls.js"></script>
    <script src="assets/js/lib/SubdivisionModifier.js"></script>
    <script src="assets/js/lib/d3.min.js"></script>
    <script src="assets/js/lib/dat.gui.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="loading" v-if="!loaded">Loading...</div>

      <div id="sidebar" v-if="loaded">
        <!-- COMMUNITIES -->
        <input
          v-model="communities.search"
          placeholder="Search community..."
          class="pull-left text text-search"
        />
        <div
          id="filtered-communities"
          v-if="filteredCommunities.length>0 && communities.isVisible"
        >
          <community-component
            v-for="community in filteredCommunities"
            :key="community.id"
            v-bind:community.sync="community"
          ></community-component>
        </div>
        <!-- COMMUNITIES END -->
        <div id="settings">
          <div class="row justify-content-between">
            <label class="col col-md-4">Speed:</label>
            <input
              type="range"
              name="speed"
              id="speedSlider"
              v-model.number="speed"
              class="col-md-8 speed-slider"
            />
          </div>
        </div>
      </div>
    </div>

    <div id="timeline-container"></div>

    <div class="lds-circle">
      <div class="lds-circle-inner"></div>
      <div class="w3-border">
        <div class="w3-grey" style="height:24px;width:0%"></div>
      </div>
    </div>
    <script src="assets/js/src/gaussian_blur_rgba.js"></script>
    <script src="assets/js/src/communities.js"></script>
    <script src="assets/js/src/map.js"></script>
    <script src="assets/js/src/timeline.js"></script>
    <script src="assets/js/src/app.js"></script>
  </body>
</html>
