body {
  color: #000;
  background-color: #333;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;
  margin: 0px;
  overflow: hidden;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
}

.lds-circle > div {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 20px;
  border-radius: 5%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
