/* ------- PAGE --------- */

body {
  color: rgb(230, 230, 230);
  background-color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  overflow: hidden;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  background-color: #f1f1f1;
}
/* ------- COLORS --------- */

.w3-border {
  border: 1px solid #ccc !important;
}

.w3-orange {
  color: #fff !important;
  background-color: #ff5722 !important;
}

.w3-grey,
.w3-hover-grey:hover,
.w3-gray,
.w3-hover-gray:hover {
  color: #000 !important;
  background-color: #9e9e9e !important;
}

/* ------- TOP LEFT PANNEL --------- */

.top-left-pannel {
  position: absolute;
  left: 5px;
  top: 5px;
}

.fullscreen-position {
  margin: 2px;
  width: 40px;
  height: 40px;
  color: #333;
  vertical-align: middle;
}
.fullscreen-position i {
  display: block;
  background-color: #f1f1f1;
}

.reset-map-position {
  margin: 2px;
  width: auto;
  height: 40px;
  color: #333;
  vertical-align: middle;
  background-color: #f1f1f1;
}
.reset-map-position label {
  display: block;
  margin: 0;
}

.next-step-tuto,
.prev-step-tuto,
.end-tuto,
.begin-tuto {
  font-size: 15px;
  margin: 2px;
  /* color: #333; */
  background-color: #f1f1f1;
  vertical-align: middle;
  min-width: 70px;
}
.next-step-tuto label,
.end-tuto label,
.prev-step-tuto label,
.begin-tuto label {
  display: block;
  margin: 0;
}

.next-step-tuto {
  animation: glowing 4.5s infinite 2s;
}

@keyframes glowing {
  0% {
    background-color: #f1f1f1;
    box-shadow: 0 0 3px #f1f1f1;
  }
  10% {
    background-color: #ffffff;
    box-shadow: 0 0 20px #ffffff;
  }
  20% {
    background-color: #f1f1f1;
    box-shadow: 0 0 3px #f1f1f1;
  }
}

/* ------- LOADING SCREEN --------- */

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.lds-trivia {
  position: absolute;
  width: 300%;
  top: 110%;
  left: -100%;
  color: #fff;
  font-size: 20px;
}

.tuto-pan {
  position: absolute;
  width: 20%;
  height: 20%;

  top: 10%;
  left: 10%;
  min-width: 265px;
  min-height: 125px;
  background-color: rgba(255, 255, 255, 0.2);
  border-width: 3px;
  border-style: dotted;
  border-color: black;
}
.tuto-pan i {
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  left: -20px;
  bottom: -20px;
}
.tuto-pan label {
  position: block;
  color: black;
  font-size: 25px;
}
.tuto-pan .ctrl-key {
  position: absolute;
  left: 5%;
  top: 30%;
}
.tuto-pan .mouse-cursor {
  position: absolute;
  right: 5%;
  top: 30%;
  animation-name: move-cursor-right-left, move-cursor-up-down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes move-cursor-right-left {
  0% {
    right: 5%;
  }
  20% {
    right: 20%;
  }
  40% {
    right: 35%;
  }
  60% {
    right: 20%;
  }
  80% {
    right: 5%;
  }
}
@keyframes move-cursor-up-down {
  0% {
    top: 30%;
  }
  20% {
    top: 20%;
  }
  40% {
    top: 30%;
  }
  60% {
    top: 40%;
  }
  80% {
    top: 30%;
  }
}

.tuto-rotate {
  position: absolute;
  width: 8%;
  height: 20%;

  top: 20%;
  right: 15%;
  min-width: 100px;
  min-height: 125px;
  background-color: rgba(255, 255, 255, 0.2);
  border-width: 3px;
  border-style: dotted;
  border-color: black;
}
.tuto-rotate i {
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  right: -20px;
  bottom: -20px;
}
.tuto-rotate label {
  position: block;
  color: black;
  font-size: 25px;
}
.tuto-rotate .mouse-cursor {
  position: block;
  animation-name: mouse-orbit;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes mouse-orbit {
  0% {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
  80% {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  100% {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
}

.tuto-zoom {
  position: absolute;
  width: 9%;
  height: 20%;
  bottom: 10%;
  left: 20%;
  min-width: 120px;
  min-height: 160px;
  background-color: rgba(255, 255, 255, 0.2);
  border-width: 3px;
  border-style: dotted;
  border-color: black;
}
.tuto-zoom .fa-info-circle {
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  left: -20px;
  top: -20px;
}
.tuto-touchpad {
  box-shadow: 1px 1px #333;
  margin-left: 5%;
  width: 90%;
  height: 65%;
  border-radius: 3px;
  background-color: rgba(150, 150, 150, 0.6);
}
.tuto-separation {
  background-color: rgba(50, 50, 50, 0.4);
  position: relative;
  width: 2px;
  height: 25%;
  left: calc(50% - 1px);
  top: 75%;
}
.tuto-zoom label {
  position: block;
  color: black;
  font-size: 25px;
}
.tuto-zoom .chevron-bl {
  transform: rotate(55deg);
  width: 30px;
  height: 30px;
  font-size: 25px;
  position: absolute;

  left: 30%;
  bottom: 35%;

  animation-name: chevron-bl-move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes chevron-bl-move {
  0% {
    left: 30%;
    bottom: 35%;
    opacity: 1;
  }
  80% {
    left: 10%;
    bottom: 25%;
    opacity: 0;
  }
  100% {
    left: 30%;
    bottom: 35%;
    opacity: 0;
  }
}

.tuto-zoom .chevron-ur {
  transform: rotate(-125deg);
  width: 30px;
  height: 30px;
  font-size: 25px;
  position: absolute;

  right: 30%;
  top: 35%;

  animation-name: chevron-ur-move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes chevron-ur-move {
  0% {
    right: 30%;
    top: 35%;
    opacity: 1;
  }
  80% {
    right: 10%;
    top: 25%;
    opacity: 0;
  }
  100% {
    right: 30%;
    top: 35%;
    opacity: 0;
  }
}

.w3-animate-transparent {
  animation: transp 1s forwards;
  -webkit-animation: transp 1s forwards;
}

@keyframes transp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes transp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.w3-animate-opacity {
  animation: opac 0.8s forwards;
  -webkit-animation: opac 0.8s forwards;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: linear;
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
}

.lds-circle-inner {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 5%;
  animation: lds-circle 20s infinite;
}

.reddit_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

#mouse_img {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 5%;
  height: auto;
}

/* ------- TIMELINE --------- */

svg {
  position: absolute;
  left: 100px;
  bottom: 10px;
  margin: 0 auto;
}

i.fas {
  color: #333;
  display: block;
}

#timeline-container {
  position: absolute;
  left: 20px;
  width: 100%;
  bottom: 10px;
  padding-left: 20px;
}

#time-controls {
  color: black;
  pointer-events: inherit;
  position: absolute;
  left: 0px;
  width: 100px;
  height: 30px;
  top: -120px;
}

#time-controls > button {
  width: 80%;
  height: 35px;
  margin-bottom: 3px;
}

#timeline-container > .blur {
  position: absolute;
  bottom: 10px;
  height: 300px;
  left: -5px;
}

g.axis {
  font-family: "Source Sans Pro", sans-serif;
}
.axis--x {
  font-size: 14px;
}

.axis--y {
  font-size: 13px;
}
/* ------- SIDEBAR --------- */

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.showhide {
  position: absolute;
  left: -35px;
  top: 50%;
  font-size: 16px;
  z-index: 999;
}
.showhide i {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  width: 20%;
  min-width: 200px;
  -webkit-transition: width 0.2s; /* Safari */
  transition: width 0.2s;
  z-index: 10;
}

.sidebarReduce {
  width: 0;
  min-width: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.sidebar-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-height: 100%;
}

.sidebar-content p {
  font-size: 0.8em;
  margin-bottom: 0px;
}

.sidebar-content .grayed {
  color: #777;
}

.sidebar-content span {
  border-color: #777;
  border-style: dotted;
  border-width: 0px 0px 1px 0px;
}

.blur {
  left: -10px;
  width: 105%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-color: #333;
  opacity: 0.8;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -ms-filter: blur(6px);
  -o-filter: blur(6px);
  filter: blur(6px);
  z-index: 0;
}

/* ------- ATLAS --------- */
.search-sidebar {
  flex: none;
  color: #333;
  margin: 5px 0px;
  width: 100%;
}

.dragArea {
  min-height: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-color: #aaa;
  border-style: dotted;
  border-width: 0px 0px 2px 0px;
}

#selected-communities {
  padding-bottom: 5px;
}

#filtered-communities {
  flex: 1;
  padding-bottom: 5px;
  min-height: 200px;
}

#filtered-communities > span {
  border-bottom: #555;
  border-width: 0px 0px 1px 0px;
  border-style: dotted;
  padding-bottom: 3px;
}

#communities-header {
  display: flex;
  flex-direction: row;
  border-bottom: #555;
  border-width: 0px 0px 1px 0px;
  border-style: dotted;
  padding-bottom: 3px;
}

#communities-header i {
  flex: 0;
  color: #ccc;
  font-size: 20px;
}

#communities-header p {
  flex: 1;
  align-self: flex-end;
  font-size: 0.8em;
  padding-right: 5px;
  margin-bottom: 1px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropzone {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 100px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-width: 3px;
  border-style: dotted;
  border-color: black;
  border-radius: 5px;
  background: white;
  color: gray;
  opacity: 0.7;
}

.community-component {
  width: 100%;
}

.edits-bar .progress-bar {
  background-color: #ccc;
}

.community {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2px 0px 10px 0px;
  max-height: inherit;
  max-width: inherit;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #555;
}

.community > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 25px;
}
.community-component.hidden {
  margin-top: 0px;
  height: 0;
  display: none;
}

.community-header {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.community-name {
  text-align: start;
  overflow-wrap: normal;
  flex-grow: 1;
}

.community-component .handle-dots {
  flex: 0;
  align-self: center;
  font-size: 1.5em;
  padding-right: 10px;
  text-align: left;
  color: #999;
  cursor: pointer;
}

.community-header .fa-trash {
  margin-top: 5px;
  height: 0;
  align-self: stretch;
  color: #999;
  font-size: 0.9em;
}

.community-header .fa-trash :not(#selected-communities) {
  display: none;
}

.community-header .fa-trash.hidden {
  margin-top: 0px;
  height: 0;
  display: none;
}

.community-component .description {
  font-size: 0.8em;
  text-align: left;
}

.community-component .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropzone .community-component .description {
  display: none;
}

/* ------- ATLAS END --------- */

/* ------- SETTINGS --------- */

#settings {
  flex: none;
  align-self: flex-end;
  width: 100%;
  margin-bottom: 10px;
  font-size: 0.8em;
}

#settings-button {
  position: absolute;
  left: -35px;
  bottom: 10px;
  font-size: 16px;
  z-index: 999;
}

#settings-button > i {
  display: block;
}

#settings .param {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}
#settings .param div {
  flex: 1;
}

#settings input {
  margin: 0px 5px 0px 0px;
}

#settings label {
  float: left;
  text-align: left;
  width: 50%;
  margin: 0px;
}

/* ------- SETTINGS END --------- */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #555;
  outline: none;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
}

.tutorial-fs-block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.no-pointerevent {
  pointer-events: none;
  opacity: 0.5;
}

.no-pointerevent .overlay,
.no-pointerevent .selection,
.no-pointerevent .brush,
#speed,
#play {
  pointer-events: inherit;
}

.tutorial-text {
  position: absolute;
  top: 10px;
  left: 200px;
  pointer-events: none;
  max-width: 35%;
  max-height: 35%;
  overflow: hidden;
}

.tutorial-text div {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-color: #333;
  transition: opacity 1s linear;
  text-align: left;
}

.tutorial-show {
  opacity: 0.9;
}

.tutorial-hide {
  opacity: 0;
  height: 0;
  width: 0;
}

.tutorial-text label {
  top: 50%;
  padding: 10px;
  font-size: calc(7px + 0.8vw);
  display: block;
}

.video-tuto {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: -395px;
  height: 428px;
  transition: opacity 1s linear;
  text-align: center;
  border: 1px dotted black;
}

.video-tuto label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px 10px;
}


#credits{
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 0.8em;
  color: #888;
  opacity: 0.5;
  z-index: 5;
}